<launch>
  <env name="GAZEBO_PLUGIN_PATH" value="$(find gazebo_plugins)"/>
  <env name="GAZEBO_MODEL_PATH" value="$(find turtlebot3_gazebo)/models"/>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="move_forward_only" default="false"/>
  <arg name="models" default="static"/>

  <include file="$(find aws_robomaker_small_warehouse_world)/launch/small_warehouse.launch">
    <arg name="mapenv" value="$(arg models)"/>
    <arg name="gui" value="false"/>
  </include>

  <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch">
    <arg name="slam_methods" value="gmapping" />
    <arg name="configuration_basename" value="turtlebot3_lds_2d_gazebo.lua" />
  </include>

  <!-- move_base -->
  <include file="$(find turtlebot3_navigation)/launch/new_move_base.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
    <arg name="use_quadratic" value="true"/>
    <arg name="use_dijkstra" value="true"/>
    <arg name="use_grid_path" value="false"/>
    <arg name="neutral_cost" value="20"/>
    <arg name="allow_unknown" value="true"/>
  </include>

  <node pkg="experiment_node" type="experiment_node" name="experiment_node" output="screen" required="true">
    <param name="algorithm" type="string" value="dijkstra" />
    <param name="goal_x" type="double" value="-4.57"/>
    <param name="goal_y" type="double" value="-7.22"/>
    <param name="env_type" type="string" value="$(arg models)"/>
    <param name="map_type" type="string" value="mapless"/>
  </node>

  <group if="$(eval arg('models') != 'static')">
    <node pkg="model_node" type="model_node" name="model_node_1" output="screen">
      <param name="model_name" value="box_1"/>
      <param name="direction" value="up/down"/>
      <param name="distance" value="5.5"/>
    </node>
  </group>

  <group if="$(eval arg('models') == 2)">
    <node pkg="model_node" type="model_node" name="model_node_2" output="screen">
      <param name="model_name" value="box_2"/>
      <param name="direction" value="down/up"/>
      <param name="distance" value="5.5"/>
    </node>
  </group>

  <group if="$(eval arg('models') == 3)">
    <node pkg="model_node" type="model_node" name="model_node_2" output="screen">
      <param name="model_name" value="box_2"/>
      <param name="direction" value="down/up"/>
      <param name="distance" value="5.5"/>
    </node>

    <node pkg="model_node" type="model_node" name="model_node_3" output="screen">
      <param name="model_name" value="box_3"/>
      <param name="direction" value="up/down"/>
      <param name="distance" value="5.5"/>
    </node>
  </group>
</launch>