<launch>
  <!-- Arguments -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="cmd_vel_topic" default="/cmd_vel" />
  <arg name="odom_topic" default="odom" />
  <arg name="move_forward_only" default="false"/>
  <arg name="use_quadratic" default="true"/>
  <arg name="use_dijkstra" default="true"/>
  <arg name="use_grid_path" default="false"/>
  <arg name="neutral_cost" default="50"/>
  <arg name="allow_unknown" default="true"/>
  <arg name="publish_potential" default="true"/>

  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <param name="base_global_planner" value="global_planner/GlobalPlanner" />
    <rosparam file="$(find turtlebot3_navigation)/param/costmap_common_params_$(arg model).yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find turtlebot3_navigation)/param/costmap_common_params_$(arg model).yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find turtlebot3_navigation)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find turtlebot3_navigation)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find turtlebot3_navigation)/param/move_base_params.yaml" command="load" />
    <rosparam file="$(find turtlebot3_navigation)/param/dwa_local_planner_params_$(arg model).yaml" command="load" />
    <rosparam file="$(find turtlebot3_navigation)/param/global_planner_params.yaml" command="load" />
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
    <param name="DWAPlannerROS/min_vel_x" value="0.0" if="$(arg move_forward_only)" />
    <param name="GlobalPlanner/use_quadratic" value="$(arg use_quadratic)"/>
    <param name="GlobalPlanner/use_dijkstra" value="$(arg use_dijkstra)"/>
    <param name="GlobalPlanner/use_grid_path" value="$(arg use_grid_path)"/>
    <param name="GlobalPlanner/neutral_cost" value="$(arg neutral_cost)"/>
    <param name="GlobalPlanner/allow_unknown" value="$(arg allow_unknown)"/>
    <param name="GlobalPlanner/publish_potential" value="$(arg publish_potential)"/>
  </node>
</launch>
